/*Contenido del navbar alineado a la derecha*/
.opciones{
    margin-left: auto;
}

.nav-link{
    color: white;
    font-family: 'Roboto', sans-serif;
}

/*elementos acomodados*/
.nav-link.editnav{
    margin-right: 150px;
    border-radius: 15px;
}

.nav-link.active{
    background-color: #ffffff;
    color: black;
}

.nav-item{
    border-radius: 15px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    background-color: white;
    border-radius: 15px;
}

.navbar{
    background-color: rgb(233, 124, 0);
}
/*Separador de la seccion de "Contactenos". Solo visible en resoluciones de escritorio*/
@media only screen and (min-width: 992px){
    .contacto{
        border-left: 2px solid #ffffff;
        border-radius: 0px;
    }
}
/*Configuracion de menu "Nosotros"*/
.dropdown-menu{
    --bs-dropdown-bg:rgb(68, 68, 68);
    --bs-dropdown-link-color: #ffffff;
    --bs-dropdown-link-hover-bg: rgb(68, 68, 68);
    --bs-dropdown-link-hover-color: orange;
}
.dropdown-item{
    padding-left: 20px;
    padding-right: auto;
}
.dropdown-item:hover{
    text-decoration: underline;
}
/*Configuracion de boton de busqueda*/
.btn-outline-success{
    --bs-btn-color: orange;
    --bs-btn-border-color: orange;
    --bs-btn-hover-border-color: orange;
    --bs-btn-hover-bg: orange;
    --bs-btn-active-bg: rgb(202, 131, 0);
    --bs-btn-active-border-color: orange;
}

/*Configuracion de Carousel de imagenes*/
.carousel-indicators [data-bs-target]{
    background-color: rgb(214, 139, 0);
}

#carouselExampleIndicators{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

/* Pagina de contactenos */
/* Fondo de la pagina */
.active-color-letra{
    color: rgb(185, 99, 38);;
    background-color: white;
    border-radius: 15px;
    margin-left: 5px;

}
.ventanaContactenos{
  
    background-image:url("./media/fondosImg/pantalla_4.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -150px;
    
}
.form_contactenos{
    max-width: 30%;
    margin-left: 60px;
    
}

.form_contactenos>p{
    color: white;
    font-size: 2.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.color-input{
    background-color: rgb(225, 223, 223);
    border: 1px solid black;
}
.color-button{
    color: #ffffff;
    background-color: rgb(233, 124, 0);
    margin-bottom: 20px;
}
.enviarI{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    padding-bottom: 3px;
}
 