/*Contenido del navbar alineado a la derecha*/
.opciones{
    margin-left: auto;
}

.nav-link{
    color: white;
    font-family: 'Roboto', sans-serif;
}

/*elementos acomodados*/
.nav-link.editnav{
    margin-right: 150px;
    border-radius: 15px;
}

.nav-link.active{
    background-color: #ffffff;
    color: black;
}

.nav-item, .nav-link.dropdown-toggle{
    border-radius: 15px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--bs-navbar-active-color);
    background-color: white;
    border-radius: 15px;
}

.navbar{
    background-color: rgb(233, 124, 0);
}
/*Separador de la seccion de "Contactenos". Solo visible en resoluciones de escritorio*/
@media only screen and (min-width: 992px){
    .contacto{
        border-left: 2px solid #ffffff;
        border-radius: 0px;
    }
}
/*Configuracion de menu "Nosotros"*/
.dropdown-menu{
    --bs-dropdown-bg:rgb(68, 68, 68);
    --bs-dropdown-link-color: #ffffff;
    --bs-dropdown-link-hover-bg: rgb(68, 68, 68);
    --bs-dropdown-link-hover-color: orange;
}
.dropdown-item{
    padding-left: 20px;
    padding-right: auto;
}
.dropdown-item:hover{
    text-decoration: underline;
}
.informacion-nosotros{    
    background-image:url("./media/netbook 1.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    
}
.texto-nosotros{
    width: 750px;
    padding-left: 80px;
    padding-right: 10px;
    color: white;
    font-size: 22px;
    margin-top: 10px;
    padding-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(133, 51, 36, 0.603);
    margin-left: 15px;
}

h1{
    width: 680px;
    height: 10px;
    padding-left: 120px;
    padding-right: 10px;
    color: white;
    padding-top: 25px;
    font-family: 'Open Sans', sans-serif;
}


/*Configuracion de boton de busqueda*/
.btn-outline-success{
    --bs-btn-color: orange;
    --bs-btn-border-color: orange;
    --bs-btn-hover-border-color: orange;
    --bs-btn-hover-bg: orange;
    --bs-btn-active-bg: rgb(202, 131, 0);
    --bs-btn-active-border-color: orange;
}

/*Ajustes de Footer*/
.telefono{
    font-weight: bolder;
}
.piepagina{
    font-family: 'Roboto', sans-serif;
    width:100%;
    max-width: 100%;
    background:#fff;
    margin:0 auto;
}
/*fin de ajustes de Footer*/

/*Configuracion de Carousel de imagenes-----------------------------------------*/
.carousel-indicators [data-bs-target]{
    background-color: rgb(214, 139, 0);
}


#carouselExampleIndicators{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-top:50px;
}

/*texto de carrusel*/
.priVR{
    color:black;
    text-shadow: 1px 1px 0px #ffffff;
    font-weight: bolder;
}
.secVR{
    color:rgb(223, 145, 0);
    text-shadow: 1px 1px 0px #ffffff;
    font-weight: bolder;
}
.textVR{
    position:absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    width: 450px;
    text-align: left;
    margin-left: 100px;
}

.textS23{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-30%);
    width:450px;
}
.priS23 , .secS23{
    font-family: 'Nunito', sans-serif;
    margin-bottom: 0;
}
.priS23{
    padding-bottom: 0;
}

.textAcc{
    position:absolute;
    top:50%;
    left:0;
    transform:translateY(-60%);
    width:450px;
    text-align:left;
    margin-left: 100px;
}
.secAcc{
    font-family: 'Nunito', sans-serif;
    font-weight: bolder;
}
.priAcc{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

.carousel-control-prev-icon , .carousel-control-next-icon{
    background-color: #5c5c5c;
    border-radius: 15px;
}
/*Fin de Ajustes de Carrusel------------------------------------------------*/

/* Pagina de contactenos */
/* Fondo de la pagina */
.active-color-letra{
    color: rgb(185, 99, 38);;
    background-color: white;
    border-radius: 15px;
    margin-left: 5px;

}
.ventanaContactenos{
  
    background-image:url("./media/fondosImg/pantalla_4.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.form_contactenos{
    max-width: 30%;
    margin-left: 60px;
    
}

.form_contactenos>p{
    color: white;
    font-size: 2.2rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.color-input{
    background-color: rgb(225, 223, 223);
    border: 1px solid black;
}
.color-button{
    color: #ffffff;
    background-color: rgb(233, 124, 0);
    margin-bottom: 20px;
}
.enviarI{
    height: 20px;
    width: 20px;
    margin-right: 5px;
    padding-bottom: 3px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


 /* Carte de mensaje enviado */
 #mensajeAgradecimiento {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: rgb(244, 112, 18);
  padding: 20px;
  border: 1px solid orange;
  display: none;
 }
 /* Novedades */

.novedades{
    
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 0px #000;
    margin-top: 20px;
    margin-bottom: 20px;
} 


 /* Cards */ 
 .background{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: auto;
}

h1 {
    color: rgb(201,83,16);
    font-family:'Roboto', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-left: 430,073px;
}

/*Contenedor de cards*/
.card{
    position: relative;
    margin-top: 45px;
    padding-left: auto;
}  

.circle-img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

/*Info*/
h2{
    color: rgb(77,77,77);
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 30px;
}

p1{
    margin-top: 18px;
    margin-left: 35px;
    width: 70%;
    text-align: center;
    color: rgb(77,77,77);
    font-family:'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    display: block;
}

 /*Fin de Cards */ 
